@font-face {
  font-family: "Flama";
  src: url("../fonts/Flama-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Flama";
  src: url("../fonts/Flama-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Flama";
  src: url("../fonts/flama.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Flama";
  src: url("../fonts/flama%202.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
