/*******************************************************************************
 * Publication and bibliography styles
 ******************************************************************************/

@use "variables" as v;

.publications {
  margin-top: 2rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2 {
    margin-bottom: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  h2.bibliography {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    text-align: right;
  }

  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1.3rem;
      padding-bottom: 1.3rem;
      border-bottom: 2.5px dashed rgba(0, 0, 0, 0.25);

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .title {
        font-size: 1.15rem;
        margin-bottom: 0.25rem;
      }

      .preview {
        display: inline-block;
      }

      .abbr {
        margin-bottom: 0.5rem;

        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          margin-bottom: 0.5rem;
          color: var(--global-card-bg-color) !important;

          a {
            color: white;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }

      .title {
        font-weight: bolder;
      }

      .author {
        margin-bottom: 0.3rem;

        a {
          text-decoration: none;
          color: var(--global-text-color);

          &:hover {
            color: var(--global-theme-color);
            text-decoration: none;
          }
        }

        > em {
          font-style: normal !important;
          font-weight: bold !important;
          text-decoration: underline !important;
        }

        > strong {
          font-weight: bold !important;
          text-decoration: underline !important;
          background-color: rgba(230, 126, 34, 0.2);
          padding: 0.1rem 0.3rem;
          border-radius: 3px;
        }

        .note-inline {
          font-size: 0.85rem;
          color: var(--global-text-color-light);
          font-style: italic;
          margin-left: 0.5rem;
        }

        sup {
          cursor: help;
          position: relative;

          &:hover::after {
            content: "Equal contribution";
            position: absolute;
            left: 50%;
            bottom: 100%;
            transform: translateX(-50%);
            background-color: var(--global-text-color);
            color: var(--global-bg-color);
            padding: 0.35rem 0.6rem;
            border-radius: 4px;
            font-size: 0.75rem;
            white-space: nowrap;
            z-index: 1000;
            margin-bottom: 0.35rem;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            font-weight: normal;
          }

          &:hover::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 100%;
            transform: translateX(-50%);
            border: 5px solid transparent;
            border-top-color: var(--global-text-color);
            z-index: 1000;
            margin-bottom: -0.25rem;
          }
        }

        > span.more-authors {
          color: var(--global-text-color-light);
          cursor: pointer;

          &:hover {
            color: var(--global-text-color);
          }
        }
      }

      .links {
        margin-top: 0;
        font-size: 0.95rem;

        .btn {
          padding: 0.1rem 0.3rem;
          font-size: 0.95rem;
          vertical-align: middle;
        }

        .badge {
          padding: 0.1rem 0.3rem;
          vertical-align: middle;
        }

        .abbr-inline {
          display: inline-block;
          background-color: var(--global-theme-color);
          color: var(--global-card-bg-color);
          padding: 0.2rem 0.5rem;
          border-radius: 4px;
          font-size: 0.85rem;
          font-weight: 600;
          margin-right: 0.35rem;
          vertical-align: middle;
        }

        a.pub-link {
          color: var(--global-text-color);
          text-decoration: none;
          margin-right: 0.35rem;

          i {
            margin-right: 0.2rem;
          }

          &:hover {
            color: var(--global-theme-color);
          }
        }

        .link-separator {
          color: var(--global-text-color-light);
          margin: 0 0.15rem;
        }
      }

      .badges {
        padding-bottom: 0.5rem;
        span {
          display: inline-block;
          color: v.$black-color;
          height: 100%;
          padding-right: 0.5rem;
          vertical-align: middle;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }

        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }

      .hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }

      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }

      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
    div.award.hidden {
      border: dashed 1px var(--global-bg-color);
    }
    div.award.hidden.open {
      border-color: var(--global-highlight-color);
    }
  }
}

.citation,
.citation-number {
  color: var(--global-theme-color);
}
